*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.page{
  padding: 20px 40px;
}
.navbar{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  
}
.navbar-container-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}
.nav-item{
  display: flex;
   align-items: center;
   justify-content: start;
   gap: 20px;
}
.logo{
  font-size: 30px;
  font-style: oblique;
  font-family: 'oswald', 'Times New Roman', Times, serif;
}
.center{
  text-align: center;
}
.input-width{
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
}
.input-element{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  border: 1px solid #dad7d7;
  border-radius: 2px;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search-icon{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  color:  #bdb9b9;
}
.nav-icon-size{
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.4s ease;
  color: #bdb9b9;
}
.nav-icon-size:hover{
  transform: scale(1.2);
}
.para1{
  font-size: 18px;
  font-family: 'oswald', 'Times New Roman', Times, serif;
  cursor: pointer;
  color:  #9e9999;
}
.para2{
  font-size: 18px;
  font-family: 'oswald', 'Times New Roman', Times, serif;
  cursor: pointer;
  color:  #9e9999;
  display: inline-block;
  border-bottom: 2px solid transparent; 
  transition: border-color 0.6s ease; 
}
input::placeholder{
  color: #dad7d7;
}
.next-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 0px;
}
.flex-1{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
}
.line:hover{
 border-bottom: 2px solid ;
}
.size-1{
  font-size: 25px;
  color: #bdb9b9;
}
/*  hero section */
.bg{
  text-align: center;
   padding: 120px 100px;
}
/*  footer section css */
.footer {
  width: 100%;
  padding: 20px 40px;
  background-color: #f6eded;
}
.para3{
  font-family: 'oswald', 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5rem;
}
.footer-logo{
  width: 50%;
  padding: 10px 0px;
}
.some-content {
  padding-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.footer-flex {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 100px;
padding-top: 20px;
border-top:  1px solid  #ee6464;
}
.footer-container-1 {
  width: 100%
} 
.some-content {
  padding-top: 20px;
  cursor: pointer;
}
.footer-services {
  padding-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.footer-contact {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-top: 10px;
}
.icons-contact {
  font-size: 18px;
}
.footer-social-icon {
  width: 30px;
  cursor: pointer;
}
.footer-social-icon:hover {
  opacity: 0.6;
  background-color: aliceblue;
}
.copyright {
  text-align: center;
}
.line2:hover{
text-decoration: underline;
text-decoration-thickness: 1.5px;
}
